@import './scss/settings';
@import './scss/fontvariations';

.Features .header {
	position: static;
	border-bottom: $border;
}

/* UP TO TABLET */
@media (max-width: $breakpoint-tablet) {
	.RestRow__buttons {
		position: absolute;
		width: 100%;
		left: $spacing;
	}
	.RestRow__mainContent {
		padding-bottom: 3rem;
	}
	.RestRow:hover {
		margin-left: 0;
		padding-left: 0;
	}
}